body, html {
	font-size: 17px;
    line-height: 1.5rem;
    color: #4A4A4A;
    text-rendering: optimizelegibility;
    padding-top: 70px;
}

.divider {
	height: 30px;	
}

.hide {
	display: block;
}

.form_container {
	padding-top: 0px;
	background: transparent none repeat scroll 0px 0px;
	display: inline-block;
	padding: 2pc;
	border-radius: 8px;
}

.form {
	background: rgba(0, 0, 0, 0.65) none repeat scroll 0% 0%;
	padding: 19px 56px;
	display: inline-block;
	box-sizing: border-box;
	color: #FFF;
	font-size: 1.5rem;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
	text-align: center;
	border-radius: 8px;
}

.form_header {
	margin: 0px auto 1rem;
	display: block;
	text-align: center;
	font-weight: 400;
	font-size: 1.06rem;
	line-height: 1.5rem;
	letter-spacing: 0.01rem;
}

.btn_submit {
	letter-spacing: 0px;
	font-size: 1.06rem;
	opacity: 1;
	margin: 0px;
	line-height: 2.824rem;
	padding: 0px;
	width: 164px;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	text-decoration: none;
	border: 1px solid #56B68B;
	border-radius: 4px;
	background: #56B68B none repeat scroll 0% 0%;
	color: #FFF;
}
